<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2 style="color: silver">Amőba</h2>
    </div>

  </div>
  <div>
    <div class="row-sm-1">
      <div class="row">
        <svg>
          <ng-container *ngFor="let line of linesHorizontal">
            <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="red"/>
          </ng-container>
          <ng-container *ngFor="let line of linesVertical">
            <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="red"/>
          </ng-container>
        </svg>
      </div>




    </div>
  </div>

  <br>



</div>
<svg style="width: available; height: available">
  <ng-container *ngFor="let line of linesHorizontal">
    <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="red"/>
  </ng-container>
  <ng-container *ngFor="let line of linesVertical">
    <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="red"/>
  </ng-container>
</svg>


